<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charusatbookstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharusatBookStore">
        <activity
            android:name=".Depstar_CE_Sem4_Subject"
            android:exported="true" />
        <activity
            android:name=".Depstar_CE_Sem2_Subject"
            android:exported="true" />
        <activity
            android:name=".Depstar_CE_Sem1_Subject"
            android:exported="true" />
        <activity
            android:name=".Depstar_CE_Sem3_Subject"
            android:exported="true" />
        <activity
            android:name=".cspitsem1subject"
            android:exported="true" />
        <activity
            android:name=".sem"
            android:exported="true">

        </activity>
        <activity
            android:name=".college"
            android:exported="true">

        </activity>
        <activity
            android:name=".rpcpdepartment"
            android:exported="true" />
        <activity
            android:name=".pdpiasdepartment"
            android:exported="true" />
        <activity
            android:name=".i2imdepartment"
            android:exported="true" />
        <activity
            android:name=".depstardepartment"
            android:exported="true" />
        <activity
            android:name=".cspitdepartment"
            android:exported="true" >
        </activity>
        <activity
            android:name=".cmpicadepartment"
            android:exported="true" />

        <activity
            android:name=".sign_up"
            android:exported="true" />

        <activity
            android:name=".login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>